.score {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 3px rgba(256, 256, 256, 0.3);
    backdrop-filter: blur(5px);
    margin: 2.5rem auto;
    max-width: 320px;
    text-align: center;
    margin-left: 10vw;
}

.header {
    margin-top: 20vh;
    margin-left: 5vw;
    margin-bottom: 10vh;
}

.logo {
    width: 72px;
    height: 72px;
    margin-left: 20px;
    display: inline;
}

.header_text {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    color: #F9B23D;
    margin-left: 20px;
    display: inline;
}