@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.footer {
    font-family: 'Secular One', sans-serif;
    font-weight: 500;
    margin: 100px 10pv 50px 10px;
    padding: 20px 30px 20px 30px;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: blueviolet;
}
