
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html,
body {
  background-image: linear-gradient(to right,  rgb(21, 6, 107), rgb(58, 13, 95),  rgb(75, 8, 142));
  padding: 0;
  margin: 0;
  font-family: 'Secular One', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

