
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.game_main {
    background-color: #9C835F;
    height: 100vh;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.com {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.batu {
    width: 300px;
    align-self: center;
    padding: 64px 46px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px;
}

.gunting {
    width: 300px;
    align-self: center;
    padding: 30px 44px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px;
}

.kertas {
    width: 300px;
    align-self: center;
    padding: 35px 52.5px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px;
}

.content_text {
    font-weight: 700;
    font-size: 36px;
    font-family: 'Open Sans';
    line-height: 49px;
    letter-spacing: 0.1em;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    text-align: center;
}

.vs_text {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 144px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #BD0000;
    align-self: center;
    margin-left: 80px;
    margin-right: 80px;
}

.refresh_bt {
    width: 77px;
    display: block;
    margin: auto;
}


.refresh_bt:hover {
    width: 100px;
}

.result_vs {
    align-self: center;
}

.rectangle {
    width: 271.11px;
    height: 166.93px;
    background-color: #4C9654;
    display: flex;
    border-radius: 10px;
    border: 1px;
    transform: rotate(-20deg);
    margin: 30px;
}

.next_bt{
    display: block;
    margin: auto;
    text-align: center;
}